[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "nvim"]
	path = nvim
	url = https://github.com/PaddiM8/nvim
[submodule "dotbot-ifhostname"]
	path = dotbot-ifhostname
	url = https://github.com/johnlettman/dotbot-ifhostname.git
